.container {
    max-width: 1140px;
    margin: 0 auto;
}

.calc-block {
    width: 600px;
    height: 500px;
    border: 3px red solid;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.calc-header {
    background-color: brown;
    color: #fff;
    text-align: center;
}

.calc-body {
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 20px;
}

.calc-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}